In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
#import applestore applicaitons
google=pd.read_csv('../Data/googleplaystore.csv')
apple=pd.read_csv('../Data/AppleStore.csv',index_col=[0])

# Clean Data

Googel and Apple dataset are similar, but some features appear in only one dataset. Therefore, I will drop features that appears only in one dataset and keep features that are common in two datasets.

### Clean Google Data

In [16]:
google.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up

In [41]:
#drop uneccessory columns
google.drop(columns=['App','Installs','Last Updated','Type','Current Ver','Android Ver'])

,Category,Rating,Reviews,Size,Installs,Price,Content Rating,Genres
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",0,Everyone,Art & Design
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",0,Everyone,Art & Design;Pretend Play
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",0,Everyone,Art & Design
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",0,Teen,Art & Design
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",0,Everyone,Art & Design;Creativity
...,...,...,...,...,...,...,...,...
10836,FAMILY,4.5,38,53M,"5,000+",0,Everyone,Education
10837,FAMILY,5.0,4,3.6M,100+,0,Everyone,Education
10838,MEDICAL,NaN,3,9.5M,"1,000+",0,Everyone,Medical
10839,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",0,Mature 17+,Books & Reference
10840,LIFESTYLE,4.5,398307,19M,"10,000,000+",0,Everyone,Lifestyle

### Clean Apple Data

In [42]:
apple.head(3)

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
1,281656475,PAC-MAN Premium,0.0,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
2,281796108,Evernote - stay organized,0.0,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",0.0,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1

In [58]:
#drop some unnecessary columns
apple=apple.drop(columns=['id','track_name','currency','rating_count_ver','user_rating_ver','ver','sup_devices.num','ipadSc_urls.num','lang.num','vpp_lic'])

In [62]:
#rename columns
apple=apple.rename(columns={'size_bytes':'size','rating_count_tot':'reviews','user_rating':'rating','cont_rating':'age limit'})
apple.head(5)

        size  price  reviews  rating age limit   prime_genre
1  100788224   3.99    21292     4.0        4+         Games
2  158578688   0.00   161065     4.0        4+  Productivity
3  100524032   0.00   188583     3.5        4+       Weather
4  128512000   0.00   262241     4.0       12+      Shopping
5   92774400   0.00   985920     4.5        4+     Reference

In [43]:
# change size bytes to Megabybtes
apple['size']=round(apple['size']/1000000,1)
)
apple.head(3)

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
1,281656475,PAC-MAN Premium,0.0,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
2,281796108,Evernote - stay organized,0.0,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",0.0,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1

In [38]:
apple['currency'].unique()

array(['USD'], dtype=object)

In [40]:
# match age limit in apple dataset to google, so it's reasonable to compare 
def matchagelimit (x):
    if x=='4+':
        return 'Everyone'
    elif x=='9+':
        return 'Everyone 10+'
    elif x=='12+':
        return 'Teen'
    elif x=='17+':
        return 'Mature 17+'

,size_bytes,price,rating_count_tot,user_rating,cont_rating,prime_genre
1,0.0,3.99,21292,4.0,4+,Games
2,0.0,0.00,161065,4.0,4+,Productivity
3,0.0,0.00,188583,3.5,4+,Weather
4,0.0,0.00,262241,4.0,12+,Shopping
5,0.0,0.00,985920,4.5,4+,Reference
...,...,...,...,...,...,...
11081,0.0,0.00,142,4.5,4+,Games
11082,0.0,0.00,30,4.5,4+,Games
11087,0.0,1.99,15,4.5,9+,Utilities
11089,0.0,0.00,85,4.5,12+,Games
11097,0.0,0.00,3,5.0,4+,Games